<% if @cart.empty? %>
    <p>There are no items in your cart</p>
<% end %>

<div class="container">
  <row>
    <h2>Shopping Cart</h2>
  </row>
              
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Item</th>
        <th>Price</th>
        <th>Qty</th>
        <th>Subtotal</th>
      </tr>
    </thead>
      <% total = 0 %>
      
      <% @cart.each do |id, quantity| %>
      <% item = Item.find_by_id(id) %>
    
    <tbody>
      <tr>
        <td><%= image_tag item.image.url (:thumb) %></td>
        <td><%= link_to item.title, item %></td>
        <td><%= number_to_currency(item.price, :unit => "€") %> </td>
        <td>
            <%= form_tag("/cart/updatequantity/#{item.id}", :method => "get") do %>
            <%= label_tag(:qty, "Qty: ") %>
            <%= text_field_tag(:qty, quantity) %>
            <%= submit_tag("Update") %>
            <% end %>
        </td>
        <td><%= number_to_currency(quantity * item.price, :unit => "€") %></td>
        <td><a href="/cart/remove/<%= item.id %>">Remove</a></td>
            
      </tr>
      
     
          <% total += quantity * item.price %>
    <% end %>
       

      
      <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Grand Total: <%= number_to_currency(total, :unit => "€") %></td>
      </tr>
    </tbody>
  </table>
  <table>
    <tbody>
      <tr>
        <td>
          <a href="/cart/clear" class="btn btn-secondary">Clear Cart</a>
                <%= form_tag("/checkout", :method => "post", :style => "display:inline-block") do %>
      <%= submit_tag("Checkout", :class=> "btn btn-secondary" ) %><%# render a form in ruby that uses search route and post mthod%>
      <% end %>
        </td>
      </tr>
    </tbody>
  </table>

</div>

