<% provide(:title, "Cart") %>
<% if @cart.empty? %>
    <p>There are no items in your cart</p>
<% end %>

<div class="container">
  <row>
    <h2>Shopping Cart</h2>
  </row>
              
  <div class="row">
    <div class="d-none d-md-block col-lg-2">
      
    </div>
    <div class="d-none d-md-block col-lg-2">
      <p><strong>Item</strong></p>
    </div>
    <div class="d-none d-md-block col-lg-2">
      <p><strong>Price</strong></p>
    </div>
    <div class="d-none d-md-block col-lg-2">
      <p><strong>Quantity</strong></p>
    </div>
    <div class="d-none d-md-block col-lg-2">
      <p><strong>Subtotal</strong></p>
    </div>
    <div class="d-none d-md-block col-lg-2">
      
    </div>
  </div>
  <% total = 0 %>
  <% @cart.each do |id, quantity| %>
  <% item = Item.find_by_id(id) %>
    
  <div class="row">
    <div class="col-sm-2">
      <%= image_tag item.image.url (:thumb) %>
    </div>
    <div class="d-none d-md-block col-md-2">
      <%= link_to item.title, item %>
    </div>
    <div class="d-none d-md-block col-md-2">
      <%= number_to_currency(item.price, :unit => "€") %>
    </div>
    <div class="col-sm-4 col-md-2">
      <%= form_tag("/cart/updatequantity/#{item.id}", :method => "get") do %>
      <%= select_tag :qty, options_for_select([ "1", "2", "3", "4", "5", "6", "7", "8", "9", "10" ], quantity ) %>
      <%= submit_tag("Update") %>
      <% end %> 
   
    </div>
    <div class="col-md-2">
      <%= number_to_currency(quantity * item.price, :unit => "€") %>
    </div>
    <div class="col-sm-2">
      <a href="/cart/remove/<%= item.id %>"><i class="fa fa-trash-alt"></i></a>
    </div>
  </div>
  
  <% total += quantity * item.price %>
  <% end %>
  
  <div class="row">
    <div class ="offset-sm-9"></div>
    <div class="col-sm-3">
      Grand Total: <%= number_to_currency(total, :unit => "€") %> 
    </div>
  </div>
  
  <div class="row">
    <div class ="offset-sm-9"></div>
    <div class="col-sm-3">
      <% if session[:cart] != nil%>
        <a href="/cart/clear" class="btn btn-secondary">Clear Cart</a>
        <%= form_tag("/checkout", :method => "post", :style => "display:inline-block") do %>
        <%= submit_tag("Checkout", :class=> "btn btn-secondary" ) %>
        <% end %>
      <% end %>
    </div>
  </div>
  

  
<div class="row">
    <div class="offset-sm-2 col-sm-8">
        <hr style="width: 100%; color: whitesmoke; height: 1px; background-color:whitesmoke; margin:2vw 0" />        
    </div>
    <div class="col-sm-12">
        <%= render :partial => 'items/bestselling', :controller => "items", :action => "bestselling" %>
    </div>
    
</div>  

</div>

