<% if @cart.empty? %>
    <p>There are no items in your cart</p>
<% end %>

<div class="container">
  <row>
    <h2>Shopping Cart</h2>
  </row>
              
  <div class="row">
    <div class="d-none d-md-block col-lg-2">
      
    </div>
    <div class="d-none d-md-block col-lg-2">
      <p><strong>Item</strong></p>
    </div>
    <div class="d-none d-md-block col-lg-2">
      <p><strong>Price</strong></p>
    </div>
    <div class="d-none d-md-block col-lg-2">
      <p><strong>Quantity</strong></p>
    </div>
    <div class="d-none d-md-block col-lg-2">
      <p><strong>Subtotal</strong></p>
    </div>
    <div class="d-none d-md-block col-lg-2">
      
    </div>
  </div>
  <% total = 0 %>
  <% @cart.each do |id, quantity| %>
  <% item = Item.find_by_id(id) %>
    
  <div class="row">
    <div class="col-sm-2">
      <%= image_tag item.image.url (:thumb) %>
    </div>
    <div class="d-none d-md-block col-md-2">
      <%= link_to item.title, item %>
    </div>
    <div class="d-none d-md-block col-md-2">
      <%= number_to_currency(item.price, :unit => "€") %>
    </div>
    <div class="col-sm-4 col-md-2">
      <%= form_tag("/cart/updatequantity/#{item.id}", :method => "get") do %>
      <%= label_tag(:qty, "Qty: ") %>
      <%= text_field_tag(:qty, quantity, :class => "col-sm-2" )%>
      <%= submit_tag("Update") %>
      <% end %>    
      <%= form_tag("/cart/updatequantity/#{item.id}", :method => "get") do %>
      <%= select_tag :qty, "<option value='1'>1</option><option value='2'>2</option><option value=3>3</option><option value=4>4</option><option value=5>5</option>".html_safe %>
      <%= submit_tag("Update") %>
      <% end %> 
      <%= form_tag("/cart/updatequantity/#{item.id}", :method => "get") do %>
      <%= select_tag :qty, options_for_select([ "1", "2" ], :qty) %>
      <%= select_tag("products_per_page", options_for_select([["20",20],["50",50],["100",100]],params[:per_page].to_i),{:name => "products_per_page"} ) %>
      <%= submit_tag("Update") %>
     <% end %>
   
   
    </div>
    <div class="col-md-2">
      <%= number_to_currency(quantity * item.price, :unit => "€") %>
    </div>
    <div class="col-sm-2">
      <a href="/cart/remove/<%= item.id %>"><i class="fa fa-trash-alt"></i></a>
    </div>
  </div>
  
  <% total += quantity * item.price %>
  <% end %>
  
  <div class="row">
    <div class ="offset-sm-9"></div>
    <div class="col-sm-3">
      Grand Total: <%= number_to_currency(total, :unit => "€") %> 
    </div>
  </div>
  
  <div class="row">
    <div class ="offset-sm-9"></div>
    <div class="col-sm-3">
      <a href="/cart/clear" class="btn btn-secondary">Clear Cart</a>
      <%= form_tag("/checkout", :method => "post", :style => "display:inline-block") do %>
      <%= submit_tag("Checkout", :class=> "btn btn-secondary" ) %>
      <% end %>
    </div>
  </div>
  

  
  <%= render :partial => 'useraccount/recentview' %>

</div>

