<% if @cart.empty? %>
    <p>There are no items in your cart</p>
<% end %>

<div class="container">
  <row>
    <h2>Shopping Cart</h2>
  </row>
              
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Item</th>
        <th>Price</th>
        <th>Qty</th>
        <th>Subtotal</th>
      </tr>
    </thead>
      <% total = 0 %>
      
      <% @cart.each do |id, quantity| %>
      <% item = Item.find_by_id(id) %>
    
    <tbody>
      <tr>
        <td><%= image_tag item.image.url (:thumb) %></td>
        <td><%= link_to item.title, item %></td>
        <td><%= number_to_currency(item.price, :unit => "€") %> </td>
        <td>
            <%= form_tag("/cart/updatequantity/#{item.id}", :method => "get") do %>
            <%= label_tag(:qty, "Qty: ") %>
            <%= text_field_tag(:qty, quantity) %>
            <%= submit_tag("Update") %>
            <% end %>
        </td>
        <td><%= number_to_currency(quantity * item.price, :unit => "€") %></td>
        <td><a href="/cart/remove/<%= item.id %>">Remove</a></td>
            
      </tr>
      
     
          <% total += quantity * item.price %>
    <% end %>
       

      
      <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Grand Total: <%= number_to_currency(total, :unit => "€") %></td>
      </tr>
    </tbody>
  </table>
  <table>
    <tbody>
      <tr>
        <td>
          <a href="/cart/clear" class="btn btn-secondary">Clear Cart</a>
          <a href="/checkout" class="btn btn-secondary">Checkout</a>
        </td>
      </tr>
      <tr>
        <td>


                <!-- obutton to bring to payment-->
                
                <!--action will post to paypal, can intercahnge own routes-->
                <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
                
                  <!-- Identify your business so that you can collect the payments. -->
                  
                
                  <!-- Specify a Buy Now button. -->
                  <input type="hidden" name="cmd" value="_xclick">
                
                  <!-- Specify details about the item that buyers will purchase. -->
                   <input type="hidden" name="business" value="sinead.m.naughton-facilitator@gmail.com">
                   <!-- pass order reference. -->
                  <input type="hidden" name="item_name" value="JEWEL order No: <%= @order %> ">
                  <!-- pass paymetn amount. -->
                  <input type="hidden" name="amount" value="<%= @overall %>">
                  <!-- pass paymetn amount. -->
                  <input type="hidden" name="currency_code" value="EUR">
                  
                  <!-- new hidden field (check correct name), call the url, call controller method, changes staus to paid   -- -->
                  <input type="hidden" name="notify_url" value="/payment">
                  
                  <!-- new hidden field (check correct name), display page to the person. Don't return to url or the method might be called without payment going through   -- -->
                  <input type="hidden" name="return" value="https://6d4f42015a9d4066b7c1e12ffb1d73c4.vfs.cloud9.us-east-2.amazonaws.com/orders/pay.html.erb">
                
                  <!-- Image of the button - change how it looks - Display the payment button. -->
                  <input type="image" name="submit" border="0"
                  class="btn btn-secondary"
                  alt="Buy Now">
                
                
                </form>
                  <!-- name is hidden file dvalue, there's a list of them on paypal
                  When someone presses a button it passes info to the hidden field and it changes the value for the field
                  change value to the info you want passed. 
                  
                  payment failure page if payment not gone through--> 
                  </td>
                  </tr>
                  
    </tbody>
  </table>

</div>

