<div class="row justify-content-center">
    <%= render 'useraccount/useraccountnav'%> 
</div>



<!--show items in the order-->



    <table class ="table">
      <thead>
        <h1>Items in this order</h1>
      </thead>
      
      <thead>
        <th>Item</th>
        <th>Item Price</th>
        <th>Quantity</th>
        <th>Subtotal</th>
      </thead>
      <% total = 0 %>
      <% @orderitems.each do |orderitem| %>
      <tr>
        <td><%= orderitem.title %></td>
        <td><%= number_to_currency(orderitem.price, :unit => "€") %></td>
        <td><%= orderitem.quantity %></td>
        <% subtotal= orderitem.price * orderitem.quantity %>
        <td><%= number_to_currency(subtotal, :unit => "€") %></td>
        

        <% if Review.exists?(:user_id => current_user.id) %>
        <td><%= link_to 'See your Reviews', useraccount_reviews_path,  :class => "btn btn-secondary" %></td>
         <% else %>
         <td><%= link_to 'Add Review', new_item_review_path(orderitem.item_id), :class => "btn btn-secondary" %></td>
        <% end %>
        
      </tr>
      <% end %>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <% shipping = 5.95 %>
        <td>Shipping : <%= number_to_currency(shipping, :unit => "€") %></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Order Total: <%= number_to_currency(@order.order_total, :unit => "€") %></td>
      </tr>
    </table>
 
  <div class="row">
    <!--button link to change status method-->
    <a href="/shipped/<%= @order.id %>" class="btn btn-secondary">Mark as Shipped</a>
  </div>
</div>