<% provide(:title, "Products") %>
<div class="row">
    <div class="col-sm-4">
        <h1>Products</h1>
        <%= render :partial => 'items/sort' %>
    </div>
</div>
  <!--@start - body-->
<div class="row">
  <div class="col-sm-3">
      <%= render :partial => 'layouts/filter'%>
  </div>
  <div class="col-sm-9">
    <% if @items.length == 0 %>  
        <div class="row">
            <div class="col-sm-12">
            <h2>no items found try searching again</h2>
            </div>
        </div>
    <% else %>
        <div class="row">
        <% @items.each do |item| %>
          <!--product info-->
          <div class="col-sm-3"><!-- container to hold each product item-->
            
            <a href='/items/<%=item.id%>'><img src="<%=item.image.url (:medium)%>" class="img-thumbnail" /></a>
            <h6><%= item.title %></h6><!-- render title-->
            <p><%= number_to_currency(item.price, :unit => "€") %> </p>
          
             <!--product actions-->
             <!-- button to add item to cart -->
            <a href = "/cart/<%= item.id %>" class="btn btn-secondary"><i class="fa fa-cart-plus"></i></a>
            <a href = "/wishlist/add/<%= item.id %>" class="btn btn-secondary"><i class="fa fa-heart"></i></a>
            </br>
          
            <% if current_user.try(:adminrole?) %>
              <%= link_to 'Edit', edit_item_path(item), :class => "btn btn-secondary", :role => "button" %>
              <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-secondary", :role => "button" %>
            <% end %>
          </div>
        <% end %> 
        </div>
    <% end %>     
  </div>
</div>
<br />



<% if user_signed_in? %>
    <div class="container-fluid"><!-- container to hold all products-->
        <%= render :partial => 'useraccount/recentview', :controller => "useraccount", :action => "recentview" %>
    </div>
<% else %>
    <div class="col-sm-12">
        <%= render :partial => 'items/bestselling', :controller => "items", :action => "bestselling" %>
    </div>
<% end %>
