<% provide(:title, @item.title) %>
<div class="item-show-holder">
  <div class="container-fluid"> 
    <div class="row">

      <div class="col-sm-1"></div>
      <div class="col-sm-5">
        <img src="<%=@item.image.url %>" class="img-fluid" />
      </div>
      <div class="col-sm-6">
        <h4><%= @item.title %></h4>
        <h6>Average Rating: <%= @average_review %> (<%= @item.reviews.count %> reviews)</h6>
        <p><strong>Description: </strong><%= @item.description %></p>
        <p> <strong>Price:</strong><%= number_to_currency(@item.price, :unit => "€") %></p>
        <p><strong>Collection:</strong><%= @item.collection %></p>
        <p><strong>Collection:</strong><%= @item.material %></p>

        <%= form_tag("/cart/addbyquantity/#{@item.id}", :method => "get") do %>
          <%= select_tag :qty, options_for_select([ "1", "2", "3", "4", "5", "6", "7", "8", "9", "10" ]) %>
          <%= button_tag :submit, :class=> "btn btn-secondary" do %>
            <i class="fa fa-cart-plus"></i>
          <% end %>
          <a href = "/wishlist/add/<%= @item.id %>" class="btn btn-secondary"><i class="fa fa-heart"></i></a>
        <% end %>
        
        
        <% if current_user.try(:adminrole?) %>
        <%= link_to 'Edit', edit_item_path(@item), :class => "btn btn-secondary" %> 
        <% end %>
       
        <br>
        <br>
        <hr>
        
        <%= render :partial => 'reviews/review' %>

        
        
      </div>      
    
      <%#= render @item.reviews %>
    </div>

  </div>
</div>  
  





   
   
