<div class="form-check">
    <%= form_tag("/filter", :method => "get") do %>




<label><strong>Category</strong></label>    
<div class="form-check">
    <%= check_box_tag :necklace, '✓', params[:necklace] == "✓" , :class => "form-check-input"  %>
    <%= label_tag(:necklace, "Necklace", :class => "form-check-label" ) %>
</div>
<div class="form-check"> 
    <%= check_box_tag :bracelet, '✓', params[:bracelet] == "✓" , :class => "form-check-input"  %>
    <%= label_tag(:bracelet, "Bracelet", :class => "form-check-label" ) %>
</div>
<div class="form-check"> 
    <%= check_box_tag :earring, '✓', params[:earring] ==  "✓", :class => "form-check-input"  %>
    <%= label_tag(:earring, "Earrings", :class => "form-check-label" ) %>
</div>
<div class="form-check"> 
    <%= check_box_tag :ring, '✓', params[:ring] ==  "✓", :class => "form-check-input"  %>
    <%= label_tag(:ring, "Ring", :class => "form-check-label" ) %>
</div>


    
<label><strong>Material</strong></label>    
<div class="form-check"> 
    <%= check_box_tag :gold, '✓', params[:gold] == "✓" , :class => "form-check-input"  %>
    <%= label_tag(:gold, "Gold", :class => "form-check-label" ) %>
</div>
<div class="form-check"> 
    <%= check_box_tag :silver, '✓', params[:silver] == "✓" , :class => "form-check-input"  %>
    <%= label_tag(:silver, "Silver", :class => "form-check-label" ) %>
</div>
<div class="form-check"> 
    <%= check_box_tag :rose, '✓', params[:rose] == "✓" , :class => "form-check-input"  %>
    <%= label_tag(:rose, "Rose gold", :class => "form-check-label" ) %>
</div>    
    
    
<label><strong>Collection</strong></label>    
<div class="form-check"> 
    <%= check_box_tag :bohemian, '✓', params[:bohemian] == "✓" , :class => "form-check-input"  %>
    <%= label_tag(:bohemian, "Bohemian", :class => "form-check-label" ) %>
</div>
<div class="form-check"> 
    <%= check_box_tag :roman, '✓', params[:roman] == "✓" , :class => "form-check-input"  %>
    <%= label_tag(:bohemian, "Roman", :class => "form-check-label" ) %>
</div>
<div class="form-check"> 
    <%= check_box_tag :gemstone, '✓', params[:gemstone] == "✓" , :class => "form-check-input"  %>
    <%= label_tag(:gemstone, "Gemstone", :class => "form-check-label" ) %>
</div>




    
    <%= hidden_field_tag :input, params[:input] %>
    <%= submit_tag("Filter") %><%# render a form in ruby that uses search route and post mthod%>
    <% end %>
</div>

