<header class="container-fluid">
      <h1>JEWEL</h1>




<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">JEWEL</a>
    </div>
    <ul class="nav navbar-nav">
        <li class="active"><%= link_to "Home",  "/" %></li>
        <li class="active"><%= link_to "About", about_path %></li>
        <li class="active"><%= link_to "Contact Us", contact_path %></li>
        <li class="active"><%= link_to "Delivery", delivery_path %></li>
        <li class="active"><%= link_to "Products", "/items" %></li>
    </ul>
  </div>
</nav>
      
      
    </header>